<nav class="card">
    <ul class="list-group">
        <li class="nav-link">
            <a href="/me/infor" class="list-group-item">Personal Infor
                <span class="text-right float-right">&gt;&gt;</span>
            </a>
        </li>
        <li class="nav-link">
            <a href="/me/avatar" class="list-group-item">Upload Avatar
                <span class="text-right float-right">&gt;&gt;</span>
            </a>
        </li>
        <li class="nav-link">
            <a href="/me/modify/{{ userV }}" class="list-group-item">Change Password
                <span class="text-right float-right">&gt;&gt;</span>
            </a>
        </li>
        <li class="nav-link">
            <a href="/me/friends" class="list-group-item">My Friends
                <span class="text-right float-right">&gt;&gt;</span>
            </a>
        </li>
    </ul>
</nav>