<div class="jumbotron text-center">
    <h1>Jak se máš?</h1>
    <h2 class="display-3">{{ title }}</h2>
    <p class="lead">
        Ahoj, mein Name ist Wen Xw, und ich comme aus China.
    </p>
    <a href="/new-course" class="btn btn-lg btn-warning">Add New</a>
</div>