<h3 class="text-center">I am here</h3>
{{!-- <div class="container"> --}}
<div class="nav-container">
    <nav class="card">
        <ul class="list-group">
            <li class="nav-link">
                <a href="#infor" class="list-group-item">Personal Infor
                    <span class="text-right float-right">&gt;&gt;</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#avatar" class="list-group-item">Upload Avatar
                    <span class="text-right float-right">&gt;&gt;</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#password" class="list-group-item">Change Password
                    <span class="text-right float-right">&gt;&gt;</span>
                </a>
            </li>
            <li class="nav-link">
                <a href="#friends" class="list-group-item">My Friends
                    <span class="text-right float-right">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="setting-container">
    <div class="setting-operation-area">
        <div id="infor">
            <h2>Infor</h2>
        </div>
        <div id="avatar">
            <h2>Avatar</h2>
        </div>
        <div id="password">
            <h2>Password</h2>
        </div>
        <div id="friends">
            <h2>Friends</h2>
        </div>
    </div>
</div>
{{!-- </div> --}}