<div class="container">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <img src="/img/logo.png" alt="" class="logo">
            <h3 class="text-center">Register</h3>
            <form action="/user/register" method="POST">
                <div class="form-group">
                    <label for="name">User Name</label>
                    <input type="text" class="form-control" name="name" value="{{ name }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" value="{{ email }}" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" value="{{ password }}" required>
                </div>
                <div class="form-group">
                    <label for="repassword">Repassword</label>
                    <input type="password" class="form-control" name="repassword" value="{{ repassword }}" required>
                </div>
                <div class="form-group">
                    <label for="vcode">Verify Code</label>
                    <div class="vcode-wrap row">
                        <input type="text" class="form-control col-md-7" name='vcode'>
                        {{!-- refresh vcode-image by clicking with a random parameter --}}
                        <img src="/captcha" alt="vcode" title="Click for New" class="captcha-vcode col-md-4"
                            onclick="this.src='/captcha?rand=' + Math.random()">
                    </div>
                </div>
                <button class="btn btn-block btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>